.preview-panel {
    background-color: #e7e7e7;
}

    .preview-panel .panel-body {
        height: 370px;
    }

    .preview-panel .panel-footer {
        text-align: center;
    }

    .preview-panel .label-preview {
        text-align: center;
    }

    .preview-panel .loader {
        background: url(images/ajax-loader.gif) no-repeat center;
        width: 100%;
        height: 30px;
    }
